<h1>
    Department
</h1>

<div class="container">

    <!-- Add New department Form -->
    <div class="form">
      <h2>Add New Department</h2>
      <form>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="add_department.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="id">ID:</label>
          <input type="number" class="form-control" id="id" [(ngModel)]="add_department.id" [ngModelOptions]="{standalone: true}">
        </div>
      </form>
    </div>
      <!-- Edit Student Form -->
      <div class="form" *ngIf="selecteddepartment">
        <h2>Edit Student</h2>
        <form (submit)="saveChanges()">
          <div class="form-group">
            <label for="editName">Name:</label>
            <input type="text" class="form-control" id="editName" [(ngModel)]="selecteddepartment.name" [ngModelOptions]="{standalone: true}" >
          </div>
         
          <div class="form-group">
            <label for="editId">ID:</label>
            <input type="number" class="form-control" id="editId" [(ngModel)]="selecteddepartment.id" [ngModelOptions]="{standalone: true}" >
          </div>
          <button type="submit" class="btn btn-primary" (click)= "saveChanges()">Save Changes</button>
        </form>
      </div>
    
  
      <button class="btn btn-primary" (click)="addDepartment()">Add Department</button>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of department">
            <td>{{ department.name }}</td>
          <td>{{ department.id }}</td>
          <td>
            <button class="btn btn-primary" (click)="show_departmentDetailes(department)">Show</button>
            <button class="btn btn-success" (click)="editdepartment(department)">Edit</button>
            <button class="btn btn-danger" (click)="deletedepartment(department)">Delete</button>

            
          </td>
        </tr>
      </tbody>
    </table>
  
<!-- Department Details -->
<div class="form" *ngIf="showDetailes">
    <h2>Department Details</h2>
    <p>Name: {{ departmentDetaile.name }}</p>
    <p>ID: {{ departmentDetaile.id }}</p>
  </div>
    
  </div>
  